* {
    margin: 0;
    box-sizing: border-box;
}
header {
    text-align: center;
    background-color: brown;
    color: white
}
nav li {
    background-color: beige;
    padding: 0.1%;
    margin: 1.5%;
    text-decoration: none;
    color: black;
    border: black 3px solid;
    display: inline
}
nav {
    list-style: none;
    padding-left: 0;
    text-align: center;
    display: inline;
    background-color: #6D2932;
}
nav ul {
    background-color: rosybrown;
    padding-bottom: 0.2%;
}
nav a {
    text-decoration: none;
    color: darkred
}
div {
    text-align: center;
    background-color: darkorange;
    padding: 1% 0%;
    color: white;
}
footer {
    text-align: center;
    background-color: brown;
    color: white
}
div a{
    color: white;
}
footer a {
    color: white;
}